# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.gradle/
build/

# Environment
.env*

# IDE / Editor
.vscode/
.idea/
*.iml

# OS / temp
.DS_Store
Thumbs.db
*.tmp
*.swp

# Logs
*.log

# Node / Angular
node_modules/
frontend/dist/
frontend/.angular/
coverage/

# Cypress artifacts
frontend/cypress/videos/
frontend/cypress/screenshots/
